
body {
    background:rgb(4, 4, 45);
    color: white;
    font: 11pt tahoma;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;

}

tr:nth-child(even) {
    background-color: gray;
    color: darkblue;
}
tr:nth-child(odd) {
    background-color: lightgray;
    color: darkblue;
}
