@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,300;0,600;1,400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    max-width: 100%;
    border: 1px blue;
}

header {
    margin: 20px;
    width: 80%;
    border: 1px solid red;
}


#Formulário {
    box-sizing: border-box;
    margin: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid orange;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    border: 1px solid green;
    width: 80%;
    display: relative
    




}

tr:nth-child(even) {
    background-color: gray;
    color: darkblue;
}
tr:nth-child(odd) {
    background-color: lightgray;
    color: 1px solid darkblue;
}

footer {
    display: absolute;
    text-align: center;
    border: 1px solid blue;
}
